.footertop {
    background: linear-gradient(65.19deg, #58FFD1 -22.04%, #0CA09B 86.47%);
    padding-top: 36px;
    padding-bottom: 50px;

    &__container {
        display: flex;
    }

    &__left {
        margin-right: 350px;
    }

    &__left-desc {
        width: 320px;
        margin: 0;
        margin-bottom: 5px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    &__left-desc-small {
        width: 349px;
        margin: 0;
        margin-bottom: 34px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.8;
    }

    &__input {
        width: 242px;
        border: none;
        padding: 12px 10px;
        background: #FFFFFF;
        border-radius: 2px;
    }

    &__input:focus {
        outline: none;
        border: none;
    }

    &__right-desc {
        width: 365px;
        margin-bottom: 10px;
    }

    &__right-desc-small {
        margin: 0;
        margin-bottom: 19px;
    }

    &__right-span {
        display: inline-block;
        width: 170px;
        padding: 12px 0;
        background: #FFFFFF;
        border-radius: 2px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #00094A;
    }

    &__right-span::before {
        content: "";
        display: inline-block;
        background-image: url(../images/brif.png);
        width: 18px;
        height: 18px;
        position: relative;
        top: 4px;
        margin-right: 10px;
        margin-left: 27px;
    }

    &__right-span:hover {
        opacity: 0.8;
    }

    &__right-span:active {
        opacity: 0.4;
    }
}