.refarance {
    padding-bottom: 80px;

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item:hover {
        opacity: 0.8;
    }

    &__item:active {
        opacity: 0.4;
    }

    &__desc {
        margin: 0;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #00094A;
    }

    &__desc-small {
        width: 166px;
        margin: 0;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #00094A;
    }
}